<div class='container'>
  <div class='card card-border overflow-hidden inline mb-4'>
    <div class='card-head p-2 pl-3 d-flex justify-content-between'>
      <h3 class='pt-1'>{{post_title}}</h3>
      <span class='pt-2'>{{date_created}}</span>
    </div>
    <div class='card-body'>
      <p>{{post_content}}</p>
    </div>
    <div class='text-right pr-4 card-footer'>
      <p>Created by: {{user.username}}</p>
    </div>
    <strong class='p-4 text-center'>Comments:</strong>
    {{#each comments as |comment|}}
      <div class='card p-4'>
        <div class='mb-3'><strong>{{comment.text}}</strong></div>
        <div>Date Posted: {{comment.date_created}}</div>
        <div>Posted By: {{user.username}}</div>
      </div>
    {{/each}}
  </div>
</div>